#homeline{
	padding: 0%;
	margin-top: -5%;
}

#homeMP{
    text-align: center;
    margin-top: -10%;
}

#homeh3{
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 40px;
}

#button1 {
	width:70px;
	  height: 40px;
	  color:rgb(3, 3, 3);
	  background: hsl(252, 41%, 84%);
	  font-size: 20px;
	  border:none;
	  border-radius: 30px;
	  box-shadow: 0 4px 16px #ffffff;
	  transition:0.2s;
	  position: absolute;
	  left:center;
	  top:center;
      transform: translate(110%,-145%);
      text-align: center;
  }
#button1:hover{
	  background: hsl(252, 41%, 84%);
	  cursor: pointer;
	  box-shadow: 0 2px 4px rgba(188, 122, 238, 0.6);
  }


#button2 {
	width:170px;
	  height: 50px;
	  color:rgb(0, 0, 0);
	  background:hsl(240, 64%, 85%);
	  font-size: 24px;
	  border:none;
	  border-radius: 30px;
	  box-shadow: 0 4px 16px #f7f7f7;
	  transition:0.2s;
	  position: absolute;
	  left:center;
	  top:83%;
      transform: translate(-50%,-50%);
      text-align: center;
  }
  
#button2:hover{
	background: hsl(252, 41%, 84%);
	cursor: pointer;
	box-shadow: 0 2px 4px rgba(188, 122, 238, 0.6);
}
  