#screen{
    padding: 10px;
    background-color: white;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    width: 360px;
    height: 640px;
    border: 3px solid black;
}

#home{
    text-align: center;
    margin-top: -5%;
}
#home h1{
    font-size: 50px;
    margin-top: 100px;
    margin-bottom: 10px;
}
#home img{
    width: 250px;
    height: 250px;
}

.userInButton div{
    text-align: center;
    width: 40%;
    height: 6ex;
    margin-top: 12%;
    margin-left: 45%;
    border-radius: 70px;
    background-color: #F2EFEA;
}

a:visited{color:black}
a:link{color:black}


.react-calendar{
    margin-top: 30px;
    position: relative;
    left: 5px;
}
/*
#colorChart{
    text-align: center;
    position : relative;
    top : 200px;
    left: 60px;
}
#colorChart div{
    float: left;
    width : 25px;
    height : 25px;
    border-radius: 50%;
}
#lowColor {background: rgb(230, 230, 104); margin-right: 40px;}
#midColor {background: rgb(83, 178, 236); margin-right: 40px;}
#highColor {background: rgb(236, 125, 125);}
*/
#colorChart{
    margin-top: 70px;
    margin-left: 5px;
}
#clickDate{
    overflow:auto;
    width:360px;
    height:640px;
}